<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
</style>

h1, body, html, main {
  margin: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

hr {
  width: 75%;
}

.header{
  height: 520px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
    color: white;
    font-size: 4.5em;
    font-weight: lighter;
  
  }
header{
  display: flex;
  flex-direction: column
}
header img{
 align-self: center;
 width: 350px;
 margin:10px;
}
header p{
  margin-top: 50px;
  text-align: center;
  align-self: center;
  width: 670px;
  font-size: 1.1em;
}

.ingredients{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients ul{
  list-style: "-";
  align-self: baseline;
  margin-left: 100px;
}
.ingredients img{
  width: 300px;
}
h3{
  align-self: baseline;
  margin-left: 100px;
  font-weight: lighter;
}
.directions{
  display: flex;
  flex-direction: column;
  align-items: center;
}
ol{
  list-style: none;
  align-self: baseline;
  margin-left: 100px;
  margin-bottom: 100px;
  width: 50%;
}

